
body {
  margin: 0;
  background-color: #d0d0d0;
}
.site-navigation{
  background: #373738;
}
/*Navigation */

nav ul,nav ol {
  list-style: none;
  list-style-image: none;
}
nav ul,nav ol, nav li {
  margin: 0;
  padding: 0;
  float: left;
}
nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #d0d0d0;
}
nav ul ul {
  max-width: 11em;
  background-color: #585858;
}
nav ul ul li {
  width: 100%;
}
nav ul ul {
  max-width: 11em;
  background-color: #585858;
  position: absolute;
  z-index: 99;
  display: none;
}
nav li:hover ul {
  display: block;
}

.heroImg {

  background-color: black;
  padding: 200px 15px;
}
.content {

  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #7C758A;
  text-align: center;
  justify-content: center;
}

.content img{
  width: 200px;
  height: auto;
}

img {
  width: 100px;
  height: auto;
}

#myLogo {
  opacity:1;
  transition: opacity 0 3s ease-in-out;
}

#myLogo .fade {
  opacity: 100;
 transition: opacity 0.3s ease-in-out;

}
button {
 position: relative;
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Fira Sans', sans-serif;
}

/*My skills */

span .myskills{
  position: relative;
}
.flexContainer {
  display: flex;
  padding: 60px;
  background-color: #d0d0d0;
}
.flexContainer img {
  width: 50%;
  align-items: center;
}

.flexContainer div {
border: 5px solid #7C758A;
margin: 20px;
padding: 20px;
justify-content: center;
width:50%;
} 

.flexContainer h1 {
  align-items: center;
  font-size: 30px;

}
/*My Work */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color:#7C758A;
  margin-top: 10px;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 3em;
box-shadow: 10px 10px 30px black;
}

.myWork {
  padding: 2rem;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(autofit,minmax 200px 1fr);
  }

  .workGrid {
      padding: 2em;
      border-radius: 3em;
      box-shadow: 10px 10px 30px black;
  
  }
  .myWork img {
    width: 30%;
    height: auto;
     float:left;
     align-items: center;
     padding-right: 50px;
  }
  
  .myGrid span {
      display: inline;
      float: right;
  }

  p  {
    display: block;
      margin-top:0 ;
      font-size:16;
  }

  p span {
      position: relative;
      margin: left 15px; 
  }

/*Footer*/
  footer {
    background-color: #373738;
    padding: 5px;
    color: white;
  }

  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
    font-family: 'Fira Sans', sans-serif;}

@media only screen and (max-width: 600px) { 
      .flexContainer { 
        flex-direction: column;
    
      }}

     
      
  

